{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="search">
                    <form class="form-inline" method='post' action='{% url search %}'>
                        {% csrf_token %}
                        {{ form.errors }}
                        {{ form.address }}
                        <button type="submit" class="btn btn-large btn-orange">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span4">
                <div class="results">
                    {% for company in businesses %}
                        <li>
                            <div class="gutter"></div>
                            <div class="distance">
                                {{ company.distance }} km
                            </div>
                            <div class="title">
                                <a href="{% url company_info company.id %}?address={{ address }}">{{ company.name }}</a><br />
                                {{ company.address.street }}, {{ company.address.city }}, {{ company.address.prov }}<br />
                            </div>

                        </li>
                    {% endfor %}
                </div>
            </div>
            <div class="span8">
                <div id="map_canvas">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&sensor=false" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var LAT = '{{ lat }}';
            var LON = '{{ lon }}';
            var markers = [];
            var myOptions = {
                center: new google.maps.LatLng(LAT, LON),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
            };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
            var marker = new google.maps.Marker({
                position: map.getCenter(),
                map: map,
                title: 'Your Location',
                icon:'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png',
            });
            {% for company in businesses %}
                var marker = new google.maps.Marker({
                    title: '{{ company.name }}',
                    map: map,
                    position: new google.maps.LatLng('{{ company.geoCode.latitude }}', '{{ company.geoCode.longitude }}'),
                });
                markers.push(marker);
            {% endfor %}
        });

    </script>
{% endblock %}