{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="search">
                    <form class="form-inline" method='post' action='{% url search %}'>
                        {% csrf_token %}
                        {{ form.errors }}
                        {{ form.address }} or 
                        {{ form.postal_code }}
                        <button type="submit" class="btn btn-large btn-orange">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                <div class="results">
                </div>
            </div>
            <div class="span9">
                <div id="map_canvas">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="http://maps.googleapis.com/maps/api/js?key={{ MAPS_API_KEY }}&sensor=false" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/around.js" type="text/javascript"></script>
{% endblock %}